body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.background-image-1, .background-image-2, .background-image-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.background-image-1 {
  background-image: url(https://jacqfrancoisart.github.io/assets/2-bl.jpg);
  min-height: 100%;
}

.background-image-2 {
  background-image: url(https://jacqfrancoisart.github.io/assets/4-bl.jpg);
  min-height: 400px;
}

.background-image-3 {
  background-image: url(https://jacqfrancoisart.github.io/assets/6-bl.jpg);
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #2ab387;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: justify;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 30px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .background-image-1, .background-image-2, .background-image-3 {
        background-attachment: scroll;
    }
}

.bio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #777;
  background-color:white;
  padding:50px 80px;
  text-align: justify;
  align-items: center;
}

.bio  h3 {
  text-align: center;
}

.bio-text p {
  font-size: 20px;
}

.border a {
  text-decoration: none;
  color: white;
}

.gallery {
  text-align: center;
}

.gallery img {
    width: 11em;
    height: 15em;
}

.gallery:hover {
  opacity: 0.65;
}

.responsive {
    padding: 0 6px;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: flex;
    clear: both;
}

.images {
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position:relative;
  color:#ddd;
  background-color:#282E34;
}
